---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout pageTitle={entry.data.title} customClass="justify-center">
  <article class="prose">
    <h1 class="mb-2 font-bold text-2xl">{entry.data.title}</h1>
    <Content />
    <!-- <aside
      class="border-2 border-slate-400 bg-slate-200 p-3 rounded-lg text-sm flex flex-col my-8"
    >
      <span class="p-1">
        <strong>Posted on:</strong>
        <time datetime={entry.data.pubDate.toISOString()}>
          {entry.data.pubDate.toDateString()}
        </time>
      </span>
      <span class="p-1">
        <strong>Author:</strong>
        {entry.data.author}
      </span>
    </aside> -->
  </article>
</BaseLayout>
