---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Blog";
import { getCollection } from "astro:content";
const blogEntries = await getCollection("blog");
---

<BaseLayout pageTitle={pageTitle}>
  <div class="w-full h-full">
    <h2>Post Archive</h2>
    <ul>
      {
        blogEntries.map((blogPostEntry) => (
          <li>
            <a href={`/posts/${blogPostEntry.slug}`}>
              {blogPostEntry.data.title}
            </a>
            <time datetime={blogPostEntry.data.pubDate.toISOString()}>
              {blogPostEntry.data.pubDate.toDateString()}
            </time>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
