---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Works";
import { getCollection } from "astro:content";
const works = await getCollection("works");
import truncate from "../../utils/truncate";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="w-full h-full">
    <h2
      class="font-bold text-xl mb-4 pb-0.5 mb-1 border-b-2 border-b-slate-200"
    >
      Selected Works
    </h2>
    <ul role="list">
      {
        works.map((selectedWork) => (
          <li class="border-2 rounded-lg border-slate-500 bg-slate-100 p-4">
            <a href={`/works/${selectedWork.slug}`}>
              <div class="mb-2">
                <span class="font-bold underline text-lg">
                  {selectedWork.data.title}
                </span>
                <span> ~ </span>
                <time
                  class="font-light"
                  datetime={selectedWork.data.pubDate.toISOString()}
                >
                  {selectedWork.data.pubDate.toDateString()}
                </time>
              </div>
              <p>
                <em>{truncate(selectedWork.body)} (...)</em>
              </p>
              <p class="underline pt-2">
                <strong>Read more</strong>
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
